md-content
  p
    | The delete user and user index api routes are restricted to users with the 'admin' role.
  md-list
    md-list-item(ng-repeat='user in admin.users')
      .md-list-item-text(layout='column')
        strong {{user.name}}
        div(layout='row')
          span.text-muted {{user.email}}
          a.trash(ng-click='admin.delete(user)')
            span.glyphicon.glyphicon-trash.pull-right
        md-divider
