md-content
  section(layout='column')
    section
      h1 Login
      p
        | Accounts are reset on server restart from
        code server/config/seed.js
        | . Default account is
        code test@example.com
        | /
        code testtest
      p
        | Admin account is
        code admin@example.com
        | /
        code adminadmin

    section
      form(name='form', ng-submit='vm.login(form)', novalidate ='')
        md-input-container.md-block
          label Email
          input(type='email', required='', name='email', ng-model='vm.user.email')
          div(ng-messages='form.email.$error')
            div(ng-message="required") Email is required

        md-input-container.md-block
          label Password
          input(type='password',required='', name='password', ng-model='vm.user.password')
          div(ng-messages='form.password.$error')
            div(ng-message="required") Password is required

        div
          p.error-message-text(ng-show='form.email.$error.required && form.password.$error.required && vm.submitted')
            | Please enter your email and password.
          p.error-message-text {{ vm.errors.other }}

        section(layout='row')
          md-button.md-raised(type='submit') Login
          md-button.md-raised(ui-sref='dash.signup') Register
          md-button.md-raised(ui-sref='dash.reset') Forget Password

        hr

        section(layout='column')
          oauth-buttons(classes='btn-block')

  hr
