md-content
  section(layout='column')
    section
      h1 Login
      p
        | Accounts are reset on server restart from
        code server/config/seed.js
        | . Default account is
        code test@example.com
        | /
        code test
      p
        | Admin account is
        code admin@example.com
        | /
        code admin

    section
      form(name='form', ng-submit='vm.login(form)', novalidate='')
        md-input-container.md-block
          label Email
          input(type='email', name='email', ng-model='vm.user.email')
          div(ng-messages='form.email.$error')
            div(ng-message="required") Email is required

        md-input-container.md-block
          label Password
          input(type='password', name='password', ng-model='vm.user.password')
          div(ng-messages='form.password.$error')
            div(ng-message="required") Password is required

        //div
        //  p.help-block(ng-show='form.email.$error.required && form.password.$error.required && vm.submitted')
        //    | Please enter your email and password.
        //  p.help-block {{ vm.errors.other }}

        section(layout='row')
          md-button(type='submit') Login
          md-button(ui-sref='dash.signup') Register
          md-button(ui-sref='dash.reset') Forget Password

        hr

        section(layout='column')
          oauth-buttons(classes='btn-block')

  hr
