//navbar
div(layout="column" )
  md-toolbar(layout-align="center center")
    md-toolbar-tools
      h1 Welcome to SINS Sins Is Not Steam

  md-content
    section
      h1 Test:
      md-list
        md-list-item(ng-repeat='thing in main.awesomeThings')
            a(href='#', tooltip='{{thing.info}}') {{thing.name}}
            md-button(type='button', ng-click='main.deleteThing(thing)') &times;

    section
      form
        label Test for socket.io
        section(layout='row')
          md-input-container.md-block
            label Thing
            input(type='text', placeholder='Add a new thing here.', ng-model='main.newThing')
          md-button(type='submit', ng-click='main.addThing()') Add New
//footer
