<div layout="column">
  <md-input-container class="md-icon-float md-block">
    <!-- Use floating label instead of placeholder -->
    <label>Search</label>
    <md-icon class="material-icons">search</md-icon>
    <!--<i class="material-icons"> search</i>-->
    <input ng-model="query" type="text">
  </md-input-container>
  <md-divider></md-divider>
  <md-card ng-repeat="game in games|filter: query" class="user-listing">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline" ui-sref='{{game.inPath}}'>{{game.name}}</span>
        <span class="md-subhead">{{game.tags}}</span>
        <span class="md-subhead">{{game.description}}</span>
        <a class="md-subhead" ng-href={{game.path}}>{{game.path}}</a>
      </md-card-title-text>
      <md-card-title-media>
        <img class="md-media-xl card-media" ui-sref="{{game.inPath}}" ng-src="{{game.imagePath}}">
      </md-card-title-media>
    </md-card-title>

    <!-- <md-card-actions layout="row" layout-align="end center">
       <md-button>Action 1</md-button>
       <md-button>Action 2</md-button>
     </md-card-actions>-->
  </md-card>
</div>
