div(layout-gt-md='row')
  panel-widget.fixed-height-widget(flex='', title='Site visitors', template='app/dash/dashboard/partials/visitors.html')
  panel-widget.fixed-height-widget(flex='', title='Warnings', template='app/dash/dashboard/partials/warnings.html')
  panel-widget.fixed-height-widget(flex='', title='Memory load', template='app/dash/dashboard/partials/memory.html')
div(layout-gt-md='row')
  panel-widget.fixed-height-widget(flex='', title='Server Control Panel', template='app/dash/dashboard/partials/controlPanel.html')
  panel-widget.fixed-height-widget(flex='', title='Usage Stats', template='app/dash/dashboard/partials/usage.html')
  panel-widget.fixed-height-widget(flex='', title='Autocomplete Input', template='app/dash/dashboard/partials/autocomplete.html', options='true')
div(layout-gt-md='row')
  panel-widget(flex='', title='Performance', template='app/dash/dashboard/partials/performance.html', options='true')
  panel-widget(flex='', title='TODO list', template='app/dash/dashboard/partials/checkboxes.html')
