// TODO: Add validations
md-content.md-padding(md-theme='dark', layout='row', layout-sm='column')
  table
    tr
      td Username
      td{{11}}
    tr
      td User Level
      td {{1}}
    tr(ng-hide = '0 === vm.user.country.length')
      td Country
      td {{1}}
    tr(ng-hide = '0 === vm.user.description.length')
      td Description
      td {{1}}


md-content.md-padding
  form(name='userForm')
    div(layout='', layout-sm='column')
      md-input-container(flex='80')
        label Company (Disabled)
        input(ng-model='vm.user.company', disabled='')
      md-input-container(flex='')
        label Submission Date
        input(type='date', ng-model='vm.user.submissionDate')
    div(layout='', layout-sm='column')
      md-input-container(flex='')
        label First Name
        input(ng-model='vm.user.firstName', placeholder='Placeholder text')
      md-input-container(flex='')
        label Last Name
        input(ng-model='vm.user.lastName')
    md-input-container(flex='')
      label Address
      input(ng-model='vm.user.address')
    div(layout='', layout-sm='column')
      md-input-container(flex='')
        label City
        input(ng-model='vm.user.city')
      md-input-container(flex='')
        label State
        input(ng-model='user.state')
      md-input-container(flex='')
        label Postal Code
        input(ng-model='vm.user.postalCode')
    md-input-container(flex='')
      label About us
      textarea(ng-model='vm.user.biography', columns='1', md-maxlength='150')



      // TODO: Add validations
      md-content.md-padding(md-theme='dark', layout='row', layout-sm='column')
        md-input-container
          label Username
          input(ng-model='vm.user.title')
        md-input-container
          label Email
          input(ng-model='vm.user.email', type='email')
      md-content.md-padding
        form(name='userForm')
          div(layout='', layout-sm='column')
            md-input-container(flex='80')
              label Company (Disabled)
              input(ng-model='vm.user.company', disabled='')
            md-input-container(flex='')
              label Submission Date
              input(type='date', ng-model='vm.user.submissionDate')
          div(layout='', layout-sm='column')
            md-input-container(flex='')
              label First Name
              input(ng-model='vm.user.firstName', placeholder='Placeholder text')
            md-input-container(flex='')
              label Last Name
              input(ng-model='vm.user.lastName')
          md-input-container(flex='')
            label Address
            input(ng-model='vm.user.address')
          div(layout='', layout-sm='column')
            md-input-container(flex='')
              label City
              input(ng-model='vm.user.city')
            md-input-container(flex='')
              label State
              input(ng-model='user.state')
            md-input-container(flex='')
              label Postal Code
              input(ng-model='vm.user.postalCode')
          md-input-container(flex='')
            label About us
            textarea(ng-model='vm.user.biography', columns='1', md-maxlength='150')
