div(ng-cloak='')
  md-content
    md-tabs(md-dynamic-height='', md-border-bottom='')
      md-tab(label='Game Wiki')
        md-content.md-padding
          h1.md-display-2 Game Wiki
          div(ng-controller='WikiCtrl')
            div(ng-hide='editEnabled')
              div(ng-bind-html="GameWikiContent")
                //{{GameWikiContent}}
              md-button(class="md-raised" ng-click="editGameWiki()" href="#")
                | Edit
            div(ng-show='editEnabled')
              text-angular(ng-model="htmlVariable")
              //P
                textarea(ng-model='editableContent' ng-show='editEnabled' rows='5' style='width:70%')
              md-button(class="md-raised" ng-click="saveGameWiki()" href="#")
                | Save
              md-button(class="md-raised" ng-click="cancelGameWiki()" href="#")
                | Cancel
        #disqus_thread
        script.
          /**
           * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
           * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
           */
          /*
           var disqus_config = function () {
           this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
           this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
           };
           */
          (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = '//sinsgames.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        noscript
          | Please enable JavaScript to view the
          a(href='https://disqus.com/?ref_noscript', rel='nofollow') comments powered by Disqus.

      //md-tab(label='Game Platform API')
        md-content.md-padding
          h1.md-display-2 Game Platform API
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.
          p
            | Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.
          p
            | Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.
          md-button(class="md-raised" md-click="saveGameWiki()")
            | Save
      //md-tab(label='Developer Wiki')
        md-content.md-padding
          h1.md-display-2 Developer Wiki
          p
            | Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.
