md-content
  div
    div
      h1 Password Reset
    div
      form.form(name='form', ng-submit='vm.reset(form)', novalidate='')
        //md-input-container.md-block()
        //  label Name
        //  input(type='text',required='', name='name', ng-model='vm.user.name')
        //  div(ng-messages='form.name.$error')
        //    div(ng-message="required") A name is required
          //p(ng-show='form.name.$error.required && vm.submitted')
          //  | A name is required

        md-input-container.md-block()
          label Email
          input(type='email', name='email', ng-model='vm.user.email', required='', mongoose-error='')
          div(ng-messages='form.email.$error')
            div(ng-message="required") What's your email address?
            div(ng-message="email") Your email address is invalid
            div(ng-message="mongoose") {{ vm.errors.email }}
        md-card(ng-show='vm.submitted')
          h4.error-message-text {{ vm.message }}

        section(layout='row')
          md-button.md-raised(type='submit')
            | Reset
          md-button.md-raised(ui-sref='dash.login')
            | Back



hr
