.container
  .row
    .col-sm-12
      h1 Forget password
    .col-sm-12
      form.form(name='form', ng-submit='vm.reset(form)', novalidate='')
        .form-group(ng-class='{ "has-success": form.name.$valid && vm.submitted,\
        "has-error": form.name.$invalid && vm.submitted }')
          label Name
          input.form-control(type='text', name='name', ng-model='vm.user.name', required='')
          p.help-block(ng-show='form.name.$error.required && vm.submitted')
            | A name is required

        .form-group(ng-class='{ "has-success": form.email.$valid && vm.submitted,\
        "has-error": form.email.$invalid && vm.submitted }')
          label Email
          input.form-control(type='email', name='email', ng-model='vm.user.email', required='', mongoose-error='')
          p.help-block(ng-show='form.email.$error.email && vm.submitted')
            | Doesn't look like a valid email.
          p.help-block(ng-show='form.email.$error.required && vm.submitted')
            | What's your email address?
          p.help-block(ng-show='form.email.$error.mongoose')
            | {{ vm.errors.email }}

      section(layout='row')
        md-button(type='submit')
          | Reset
        md-button(ui-sref='dash.login')
          | Back

      hr

      div
        div
          oauth-buttons(classes='btn-block')

hr
