script(type='text/javascript').
  $('#root-ui-view').attr("layout","row");
  $('#root-ui-view').attr("layout-fill","");
  $('body').attr("layout-fill","");
md-sidenav.md-whiteframe-z2.md-sidenav-left(md-is-locked-open="$mdMedia('gt-md')&&vm.isLeftSidebarLockOpened", md-component-id='left')
  md-toolbar.md-hue-1.md-whiteframe-z2(md-theme='custom')
    md-button.md-toolbar-tools.md-warn(layout='row', layout-align='center center', ui-sref='.dashboard')
      h1 SINS
  md-button.capitalize(ng-repeat-start='item in vm.menuItems', layout='column', layout-align='center start', ng-click='vm.selectItem(item)', ui-sref-active='md-warn', ui-sref='{{item.sref}}')
    div(layout='row')
      .md-tile-content
        i.material-icons.md-36 {{item.icon}}
      .md-tile-content
        | {{item.name}}
  md-divider(ng-repeat-end='')
  md-button.capitalize( layout='column', layout-align='center start', ng-click='vm.selectAdmin()', ui-sref-active='md-warn', ui-sref='dash.admin',ng-show='vm.isAdmin()')
    div(layout='row')
      .md-tile-content
        i.material-icons.md-36 settings_applications
      .md-tile-content
        | Admin
  md-divider
  //md-button(ng-click='vm.showActions($event)',layout='column',layout-align='center center')
  //  .md-tile-content
  //    | Actions
div(layout='column', flex='')
  md-toolbar(layout='row', layout-align='start center')
    md-button( ng-click='vm.toggleItemsList()', aria-label='Menu')
      i.material-icons menu
    span.flex(flex='')
    md-button.toolbar-button( aria-label='Search')
      i.material-icons search
    md-button.toolbar-button(aria-level='Login',ng-show='!vm.isLoggedIn()', ui-sref='dash.login') Login
    md-button.toolbar-button( aria-label='Notifications',ng-show='vm.isLoggedIn()')
      i.material-icons notifications
      span.notifications-label 7
    md-button.toolbar-button( aria-label='Menu', ng-click='vm.toggleRightSidebar()',ng-show='vm.isLoggedIn()')
      i.material-icons menu
  md-content.md-padding.page-content(flex='')
    div(ui-view='')
md-sidenav.md-whiteframe-z2.md-sidenav-right(layout='column',md-component-id='right', md-is-locked-open="$mdMedia('gt-md')&&vm.isRightSidebarLockOpened", ng-show='vm.isLoggedIn()')
  md-toolbar()
    md-toolbar.md-warn(layout='row', layout-align='center center')
      img.img-circle(ng-src='{{vm.getCurrentUser().imagePath}}')
      md-menu(md-offset='0 20')
        md-button.capitalize(ng-click='$mdOpenMenu()', aria-label='Open menu')
          span {{vm.getCurrentUser().name}}
          i.material-icons keyboard_arrow_down
        md-menu-content(width='3')
          md-menu-item
            md-button(ng-click='$mdCloseMenu()', ui-sref='dash.profile({id: "{{Auth.getCurrentUser()._id}}"})') Profile
          md-menu-item
            md-button(ng-click='$mdCloseMenu()', ui-sref='dash.settings') Setting
          md-menu-item
            md-button(ng-click='$mdCloseMenu()', ui-sref='dash.logout') Log out
  section()
    md-toolbar.md-hue-1(md-theme='grey')
      .md-toolbar-tools
        h3 Messages
    div(ng-include='', src="'app/dash/partials/messages.html'")
